.accordion-item {
	border-top: 1px solid #f0f0f0;
}

.accordion-item:first-of-type {
	border-top: none;
}

.accordion-item__button {
  position: relative;
  display: block;
  width: 100%;
	padding: 16px 48px 16px 16px;
	background-color: #fff;
	border: none;
  border-radius: 0;
  font: inherit;
	line-height: 1.4;
	text-align: left;
  color: #555;
  text-decoration: none;
	cursor: pointer;
}

.accordion-item__button:hover,
.accordion-item__button:focus {
	color: hsl(170, 50%, 45%);
}

.accordion-item__button::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 27px;
	right: 16px;
	transform-origin: 8px 4px;
	width: 16px;
	height: 9px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 165'%3E%3Cpath d='M286 26L260 0 143 117 26 0 0 25l143 140L286 26z' fill='%23333333'/%3E%3C/svg%3E");
}

.accordion-item__button.is-open::after {
  content: '';
  transform: rotate(180deg);
}

.accordion-item__body {
	padding: 0 16px 16px 16px;
}

.accordion-item__body.is-open {
  display: block;
}